.hero-main-text {
    font-size: 48px;
    font-family: extra-bold;
    color: #f9faf8;
}

.hero-small-text {
    font-size: 18px;
    color: #e5e7eb
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.info {
    font-size: 36px;
    font-family: extra-bold;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    font-family: "light-italic";
    color: #1f2937;
}

.quote-sec {
    background: #e5e7eb;
}

ul {
    list-style-type: none;
}

.header {
    background: #1f2937;
    height: 50vh;
}

.footer {
    background: #1f2937;
    height: 15vh;
}