*, *::before, *::after {
    box-sizing: border-box;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.intro {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 480px;
    justify-content: center;
    flex-wrap: wrap;
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-left: 215px;
    padding-right: 215px;
}

.hero-small-text {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    justify-items: center;
    align-content: space-between
}

.hero-small-text p {
    height: 70px;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: sans-serif;
}

.info {
    display: flex;
    font-size: 36px;
    font-family: extra-bold;
    color: #1f2937;
    margin-top: 80px;
    margin-bottom: 35px;
    font-weight: 1000;
    font-family: sans-serif;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
}


.images {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    width: 1000px;
    margin-top: 20px;
    font-size: 12px;
    font-family: sans-serif;
}

.images img {
    display: flex;
    height: 160px;
    width: 165px;
    justify-content: space-between;
    border-radius: 5px;
}

.images p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 180px;
    font-size: 18px;
    color: #1f2937
}


.quote-text {
    display: flex;
    font-size: 36px;
    font-family: "light-italic";
    color: #1f2937;
    height: 200px;
    width: 1000px;
}

.quote-sec {
    background: #e5e7eb;
    display: flex;
    height: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.quote-sec p {
    height: 40px;
    width: 260px;
    font-weight: 900;
    margin-left: 760px;
    font-size: 20px;
}

.call-sec {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.call-box {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 150px;
    background: #3882f6;
    width: 1200px;
    display: flex;
    border-radius: 6px;
    justify-content: space-evenly;
}

.call-box p {
    font-family: sans-serif;
    text-align: start;
    border-color: black;
    color: white;
    width: 540px;
    height: 40px;
    margin: 1px;
}

.call-main {
    font-size: 23px;
    font-weight: bold;
    padding-top: 5px;
}

.call-sub {
    font-size: 16px;
    padding-top: 3px;
}

.call-left {
    display: flex;
    flex-direction: column;
}

.call-box .button {
    margin-top: 30px;
    border-style: solid;
    border-color: white;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}


.button {
    font-family: sans-serif;
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    height: 30px;
    width: 120px;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
}



.header {
    background: #1f2937;
    height: 70vh;
}

.footer {
    background: #1f2937;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-text {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    height: auto;
    width: auto;
    color: white;
}

.placeholder {
    display: flex;
    height: 280px;
    width: 600px;
    flex-shrink: 2;
}

img {
    height: 100%;
    width: 100%
}

p {
    height: 100%;
    width: 100%;
}